
/*###### Sitewide defaults ######*/

@charset "utf-8";

body {
	background: #1B1C20;
	margin: 0;
	padding: 0 13px;
	color:#000;
	font: normal normal normal 12px/14px Verdana, Helvetica, Arial, sans-serif;
}

h1 {font-size:24px;line-height: 0.8em;font-weight: 900;color: #0D87BB; margin:15px 0;}
h2 {font-size:20px;line-height: 0.8em;font-weight: 900;color: #0D87BB; margin:10px 0;}
h3 {font-size:18px;line-height: 0.8em;font-weight: 900;color: #0D87BB; margin:10px 0;}
h4 {font-size:16px;line-height: 0.8em;font-weight: 900;color: #0D87BB; margin:5px 0;}
h5 {font-size:14px;line-height: 0.8em;font-weight: 900;color: #0D87BB; margin:3px 0;}
h6 {font-size:12px;line-height: 0.8em;font-weight: 900;color: #0D87BB; margin:2px 0;}

a { 
	color: #0D87BB; 
	text-decoration:none; 
}
	
a:hover, a:active, a:focus { 
	color: #0D87BB; 
	text-decoration:underline; 
}

p {
	line-height: 1.5em;
	margin-bottom: 4px;
	padding-right:5px;
}

/*###### Positioning ######*/

#wrapper {
	width:95%;
	max-width: 1300px;
	min-width: 945px;
	margin: 0 auto 20px auto;
	padding: 0;
}

/* Header */

#header {
	width: 100%;
	height: 114px;
	padding: 0;
	margin: 0;
	position:relative;
	background: none;
}

#logo {
	float: left;
	margin: 28px 0 0 0;
}

#account_tools {
	float: right;
	color: #FFFFFF;
	height: 38px;
	line-height: 38px;
	width: auto;
	margin-left: 5px;
}

#account_tools a {
	color: #FFFFFF;
	text-decoration: underline;
	padding: 0 5px;
}

#account_tools a:hover, #account_tools a:active, #account_tools a:focus { 
	color: #0D87BB; 
}

#account_tools a.cart, #account_tools a.active_cart {
	width: 28px;
	height: 22px;
	float: right;
	margin-top: 8px;
	margin-left: 5px;
	background: transparent url(../images/cart_bgnd.png) no-repeat 0 0;
}

#account_tools a.active_cart {
	background: transparent url(../images/cart_bgnd_active.gif) no-repeat 0 0;
}

/*
#account_tools a.cart:hover {
	background: transparent url(../images/cart_bgnd_over.png) no-repeat 0 0;
}
*/

a.active_cart2 {
	width: 28px;
	height: 22px;
	float: left;
	margin-top: -2px;
	margin-left: -5px;
	background: transparent url(../images/cart_bgnd_active.gif) no-repeat 0 0;
}

#header-domain-check {
	float:right;
	text-align: right;
	clear: right;
	margin: 15px 11px 0 0;
}

/* End of Header */

#content_wrap {
	background: #FFFFFF;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	min-height: 300px; /* To be removed */
}

#colmask {
	margin:0;
	padding:0;
	width: 100%;
	position:relative;
	background-image:url(../images/col-r.png);
	background-position: 75% 50%;
	background-repeat:repeat-y;
	line-height: 18px;
}

#main_content {
	float: left;
	/*min-width:690px;
	max-width:1030px;*/
	width: 74%;
	min-height: 300px; /* To be removed */
}

#content_block {
	padding:25px 25px 12px 25px;;
	width: auto;
}

#right_column {
	float:right;
	width: 26%;
	min-height: 200px; /* To be removed */
}

#column_block {
	padding: 13px;
}

#footer {
	padding: 10px;
	border-top: 1px solid #CCCCCC;
	font-size: 11px;
	text-align: center;
}

#footer div {
	padding-bottom: 5px;
}

.clr {
	clear: both;
}

/* Top menu */

div.menu_container {
	height: 38px;
	padding: 0;
	margin: 0 0 20px 0;
	background: transparent url(../images/menu_right.png) no-repeat 100% 100%;
}

a.home, a.home2 {
	display: block;
	width: 61px;
	height:38px;
	background: transparent url(../images/menu_left.png) no-repeat;
	float: left;
}

a.home2 {
	background: transparent url(../images/menu_left_gears.gif) no-repeat;
}

a.home:hover {
	background: transparent url(../images/menu_left_on.png) no-repeat;
}

a.home2:hover {
	background: transparent url(../images/menu_left_gears_on.gif) no-repeat;
}

ul.menu {
	list-style: none;
	list-style-type: none;
	height: 38px;
}

ul.menu li {
	display: block;
	float:left;
	list-style: none;
	list-style-type: none;
	background: transparent url(../images/vert_sep_li.png) no-repeat 0 0;
	padding:0 0 0 1px;
	height: 38px;
	margin:0;
}

ul.menu li a {
	display:block;
	height: 12px;
	color: #FFFFFF;
	background: transparent url(../images/vert_sep.png) no-repeat 0 0;
	padding:13px 12px;
	font-family: Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-shadow: 0 0 1px #090e16;
	margin:0;
	line-height: 12px;
}


ul.menu li a:visited, ul.menu li a:active {
	color:#FFFFFF;
	text-decoration:none;
}

ul.menu li a:hover {
	color:#FFFFFF;
	text-decoration:none;
	background: transparent url(../images/menu_hover.png) repeat;
}

ul.menu li a.active {
	background: transparent url(../images/menu_hover.png) repeat;
}

/* Top menu end */

/*###### Positioning End ######*/


.image-align-left {
	float:left;
	margin: 0 15px 15px 0;
}

/* Table styles */
table.styled {
	border-spacing: 0;
	width: 100%;
	border: 1px solid #a09f9f;
	border-radius: 6px;
}

table.styled td {
	border-left: 1px solid #a09f9f;
	border-top: 1px solid #a09f9f;
	padding: 5px;
	vertical-align: middle;
}

table.styled tr:first-child td {
	border-top: none;
}

table.styled td:first-child {
	border-left: none;
}

table.styled tr:first-child td:first-child { border-top-left-radius: 6px; }
table.styled tr:first-child td:last-child { border-top-right-radius: 6px; }
table.styled tr:last-child td:first-child { border-bottom-left-radius: 6px; }
table.styled tr:last-child td:last-child { border-bottom-right-radius: 6px; }

table.styled tr.odd td {
	color: #FFFFFF;
	background-color: #1E87C7;
}

table.styled tr.even td {
	color: #FFFFFF;
	background-color: #B5BABA;
}

table.styled tr.headerRow td {
	background-color: #717677;
	color: #f9f9f9;
	text-shadow: 0 0 1px #090e16;
	font-weight: bold;
}

table.styled input, table.styled select {
	margin: 0;
}

table.styled tr.alternatingRow td {
	background: #E6E6E6;
}

form#check table td {
	vertical-align: top;
}

/* Table styles end */

/* ########################### Form Styles ############################## */

input {
	display:inline-block;
	width: 287px;
	border: 1px solid #d1d1d1;
	padding: 6px 8px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #fcfcfc; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #e8e8e8 0%, #fcfcfc 15%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(15%,#fcfcfc), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e8e8e8 0%,#fcfcfc 15%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e8e8e8 0%,#fcfcfc 15%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e8e8e8 0%,#fcfcfc 15%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e8e8e8 0%,#fcfcfc 15%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

textarea {
	display:block;
	width: 287px;
	height: 94px;
	color: #000;
	border: 1px solid #d1d1d1;
	padding: 6px 8px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #efefef; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #eeeeee 0%, #efefef 10%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(10%,#efefef), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#efefef 10%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#efefef 10%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#efefef 10%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%,#efefef 10%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

input[type="checkbox"], input[type="radio"] {
	width: 16px;
	height: 18px;
	border: none;
	margin: 0;
	padding: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: none;
	filter: none;
}

input[type="image"] {
	width: auto;
	height: auto;
	border: none;
	margin: 0;
	padding: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: none;
	filter: none;
}

label {
	color: #000;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
}

input:focus, textarea:focus {
	background: #f5f5f5;
	text-shadow: none;
}

input[type="submit"] {
	display:inline-block;
	font-size: 13px;
	height:31px;
	padding: 0px 7px;
	font-weight: bold;
	cursor:pointer;
	width: auto;
	text-shadow: 0 0 1px #000;
	color: #fff;
	background: #0779b3; /* Old browsers */
	background: -moz-linear-gradient(top, #6ECBFC  0%, #2f8bba 10%, #0779b3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ECBFC ), color-stop(10%,#2f8bba), color-stop(100%,#0779b3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6ECBFC  0%,#2f8bba 10%,#0779b3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6ECBFC  0%,#2f8bba 10%,#0779b3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6ECBFC  0%,#2f8bba 10%,#0779b3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6ECBFC  0%,#2f8bba 10%,#0779b3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2F8BBA', endColorstr='#0779b3',GradientType=0 ); /* IE6-8 */
}

div.domain-check-results label {
	display: block;
	position: relative;
	margin: 0;
	word-wrap: break-word;
}

input.submit_btn {
	background: #0679B4 url(../images/add_to_cart_btn.png) no-repeat 4px 50%;
	padding-left: 30px;
	color: #FFFFFF;	
	clear: both;
	filter: none;
	float:right;
}


/* Shopping Cart specific styles */


input.remove_from_cart, input.remove_from_cart_ajax_wait {
	background: transparent url(../images/delete_item.gif) 0 0 no-repeat !important;
	width: 24px !important;
	height: 24px;
	border: 0px none;
	border-radius: 0 !important;S
	text-indent: -9999px;
	padding: 0px;
	filter: none;
	cursor: pointer;
	margin: 0;
}

input.remove_from_cart_ajax_wait {
	background: transparent url(../images/delete_item_wait.gif) 0 0 no-repeat !important;
}

/* ########################### TLD Dropdown Styles ############################## */

.sbHolder {
	position: relative;
	height: 29px;
	width: 287px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	border: 1px solid #DDDDDD;
	border-radius: 6px;
	color: #333;
	
	background: #eeeeee; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #eeeeee 0%, #efefef 10%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(10%,#efefef), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#efefef 10%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#efefef 10%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#efefef 10%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%,#efefef 10%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

form.tld_check .sbHolder, table.DomainTransfer .sbHolder {
	width: 80px;
}

form#check .sbHolder {
	background-image:none;
	background-color: #4B4E4F;
	width: 80px;
	height: 26px;
	border: solid 1px #666666;
	border-radius: 2px;
	font-weight: bold;
	text-shadow: 0 0 1px #222427;
	color: #F3F3F3;
}

.sbSelector {
	display: block;
	height: 29px;
	left: 0;
	line-height: 26px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	text-align: left;
}

form.tld_check .sbSelector, table.DomainTransfer .sbSelector {
	width: 45px;
}

form#check .sbSelector {
	height: 26px;
}

.sbSelector:link, .sbSelector:visited, .sbSelector:hover {
	color: #333;
	text-decoration: none;
	outline: none;
}

form#check .sbSelector:link, form#check .sbSelector:visited, form#check .sbSelector:hover {
	color: #F3F3F3;
}


.sbToggle {
	background: url(../images/select-icons_content.png) 0 -117px no-repeat;
	height: 29px;
	display: block;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}

form#check .sbToggle {
	background: url(../images/select-icons.png) 0 -119px no-repeat;
	height: 26px;
}

.sbToggle:hover {
	background: url(../images/select-icons_content.png) 0 -168px no-repeat;
}

form#check .sbToggle:hover {
	background: url(../images/select-icons.png) 0 -170px no-repeat;
}

.sbToggleOpen {
	background: url(../images/select-icons_content.png) 0 -18px no-repeat;
}

form#check .sbToggleOpen {
	background: url(../images/select-icons.png) 0 -19px no-repeat;
}

.sbToggleOpen:hover {
	background: url(../images/select-icons_content.png) 0 -68px no-repeat;
}

form#check .sbToggleOpen:hover {
	background: url(../images/select-icons.png) 0 -69px no-repeat;
}

.sbOptions {
	background: #eeeeee;
	border: solid 1px #DDDDDD;
	top: 29px;
	list-style: none;
	left: -1px;
	margin: 0;
	padding: 0;
	position: absolute;
	font-size: 13px;
	z-index: 5;
	overflow-y: auto;
	padding-bottom: 10px;
	width: 287px;
}

form.tld_check .sbOptions, table.DomainTransfer .sbOptions {
	width: 80px;
}

form#check .sbOptions {
	background-color: #4B4E4F;
	border: solid 1px #515151;
	top: 26px;
	width: 80px;
}

.sbOptions li {
	padding: 0 7px;
}

.sbOptions a {
	border-bottom: dotted 1px #515151;
	display: block;
	outline: none;
	padding: 7px 0 7px 3px;
	text-align: left;
}

.sbOptions a:link, .sbOptions a:visited {
	color: #333;
	text-decoration: none;
}

form#check .sbOptions a:link, form#check .sbOptions a:visited {
	color: #F3F3F3;
	border-bottom: dotted 1px #E4E4E4;
}

.sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus {
	color: #0D87BB;
}

form#check .sbOptions a:hover, form#check .sbOptions a:focus, form#check .sbOptions a.sbFocus {
	color: #47B5FF;
}

.sbOptions li.last a {
	border-bottom: none;
}

.sbOptions .sbDisabled {
	border-bottom: dotted 1px #515151;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}

.sbOptions .sbGroup {
	border-bottom: dotted 1px #515151;
	color: #0D87BB;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}

.sbOptions .sbSub {
	padding-left: 17px;
}

/* ########################### End of TLD Dropdown Styles ############################## */

/**
 * CSS File for ezMark jQuery Plugin
 *
 **/
.ez-hide {
	opacity: 0 !important;
	filter:alpha(opacity=0) !important;
}

.ez-checkbox {
	background: transparent url('../images/checkbox.png') 0 0 no-repeat;
	display:inline-block;
}

div.domain-check-results .ez-checkbox {
	background: transparent url('../images/check_box_tld.png') 0 0 no-repeat;
	display:inline-block;
	margin-top: 16px;
	width: 77px;
	height: 76px;
}

.ez-checkbox-disabled {
	background: transparent url('../images/checkbox_disabled.png') 0 0 no-repeat;
	display:inline-block;
}

div.domain-check-results .ez-checkbox-disabled {
	background: transparent url('../images/check_box_tld_disabled.png') 0 0 no-repeat;
	display:inline-block;
	width: 77px;
	height: 76px;
}

.ez-checkbox-disabled .ez-checkbox {
	background: none;
	margin-top: 0;
}

div.domain-check-results .ez-checkbox-disabled .ez-checkbox {
	background: none repeat scroll 0 0 transparent;
	margin-top: 0;
}


.ez-radio, .ez-radio-disabled {
	background: transparent url('../images/radio.gif') 0 0 no-repeat;
	display:inline-block;
}

.ez-checked, .ez-checked-disabled {
	background-position: 0 -19px;
}

.ez-selected, .ez-selected-disabled {
	background-position: 0 -19px;
}

.ez-checked-green {
	background-position: 0 -18px;
}

.ez-checkbox, .ez-radio {
	zoom: 1;
	vertical-align: middle;
	padding: 0 1px 2px 0;
}

div.chkbox_container .ez-checkbox {
	padding: 0;
}

div.domain-check-results .ez-checked, div.domain-check-results .ez-checked-disabled {
	background-position: 0 -86px;
}

div.domain-check-results .ez-checkbox {
	zoom: 1;
	vertical-align: middle;
}

div.domain-check-results input.ez-hide {
	width: 77px !important;
	height:76px !important;
	z-index: 1;
}

div.chkbox_container {
	display: inline-block;
	width: 22%;
	padding: 0 1%;
	text-align: center;
}

div.chkbox_container input[type="checkbox"] {
	margin: 0 auto;
}

span.tldmagic {
	display: none;
	position: absolute;
	top: -65px;
	height: 65px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.select {
	top: auto;
	visibility: visible;
}

form#form_cart select {
	/*width: 140px;*/
	margin: 0;
	border: 1px solid #000000;
	font-size: 11px;
}

form#form_cart select option {
	background: #FFFFFF;
	color: inherit;
	padding-left: 5px;
	font-size: 11px;
}

form#form_cart label {
	color: inherit;
	display: inline;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	margin: 0px;
	padding: 0;
	line-height: inherit;
}

form#form_cart_total {
	font-weight: bold;
}


form.tld_check table {
	float: left;
}

/*TLD check form*/
input.domain_check {
	width: 187px;
	height: 26px;
	color: #F3F3F3;
	border: 1px solid #666666;
	background: #4B4E4F;
	padding: 0 5px;
	border-radius: 2px;	
	margin-right: 0px;
	text-shadow: 0 0 1px #000;
}

input.domain_check:focus {
	background: #5C6163;
}

#check-btn {
	width: 74px;
	height: 28px;
	border: 1px solid #666666;
	padding-bottom: 5px;
	color:#F3F3F3;
	font-size:12px;
	margin-left: -20px;
	background-image: none;
	background-color: #4B4E4F;
	border-radius: 2px;
	line-height: 27px;
	text-shadow: 0 0 1px #222427;
	position: relative;
	cursor: pointer;
}


/*Modules styling*/

#column_block > div {
	width: 93%;
	margin: 10px auto 20px auto;
}

.module {
	width: 93%;
	margin: 10px auto;
	background: url(../images/module_bgnd_blue.jpg) no-repeat center center;
	-webkit-box-shadow: 3px 3px 4px 1px #999999;
	box-shadow: 3px 3px 4px 1px #999999;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	behavior: url(/StaticContent/js/PIE.htc);
}

.module_grey {
	width: 93%;
	margin: 10px auto;
	background: url(../images/module_bgnd_grey.jpg) no-repeat center center;
	-webkit-box-shadow: 3px 3px 4px 1px #999999;
	box-shadow: 3px 3px 4px 1px #999999;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	behavior: url(/StaticContent/js/PIE.htc);
}

.module_content {
	padding: 21px;
	margin: 0;
	color: #FFFFFF;
}

.module_content p {
	color: #FFFFFF;
	line-height: 1.2em;
}

.module_content h1,.module_content h2,.module_content h3,.module_content h4,.module_content h5,.module_content h6 {
	color: #FFFFFF;
	text-shadow: 0 0 1px #090e16;
}

.module_content_grey {
	padding: 21px;
	margin: 0;
}

.module_content_grey p {
	line-height: 1.2em;
}

.module a {
	color: #FFFFFF;
}

.module_content a {
	color: inherit;
}


/*Colored spans*/

div.color1, div.color2, div.color3, div.color4, div.color5, div.noticeError, div.noticeSuccess {
	padding:5px 10px; 
	margin-bottom:10px; 
	clear:both; 
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

div.noticeError, div.noticeSuccess {
	background-color: #FFFED0;
	border: 1px solid #C64C10;
	font-weight: bold;
	margin: 9px 0px 9px 0;
	padding: 5px;
}

div.noticeSuccess {
	background-color: #caecba;
	border: 1px solid #349405;
}

div.color1 {
	border: 1px solid #AAAAAA;
}

div.color2 {
	border: 1px solid #0D87BB;
}

div.color3 {
	background: #EEEEEE none repeat scroll 0 0;
	color: #000;
	border: 1px solid #AAAAAA;
}

div.color4 {
	background: #0D87BB none repeat scroll 0 0;
	color: #FFFFFF;
}


div.color4 a {
	color: #70CEEE;
}

div.color4 a:hover {
	color: #70CEEE;
}


div.color5 {
	background: url(../images/home_module_bgnd.png);
	border: 1px solid #D9D9D9;
	box-shadow: 1px 3px 4px 0px #999999;
}

div.color5 h4 {
	margin: -5px -11px 5px -11px;
	background: #0779B3 url(../images/h4_bgnd.png) no-repeat 0 0;
	color: #FFFFFF;
	line-height: 22px;
	padding: 5px 10px;
	border-radius: 10px 10px 0 0;
}

div.color5 h4 a {
	color:#FFFFFF;
}

/*Unordered lists*/
ul.style1 {
	list-style-type:none;
	list-style-position:outside;
	clear: both;
	
}

ul.style2 {
	list-style-type:none;
	list-style-position:outside;
	clear: both;
	padding-left: 18px;
	list-style-image: url(../images/ulstyle2.png) !important;
}

ul.style3 {
	list-style-type:circle;
	list-style-position:outside;
	clear: both;
	padding-left: 18px;
	list-style-image: none;
}

ul.style4 {
	list-style-type:none;
	list-style-position:outside;
	clear: both;
	padding-left: 18px;
	list-style-image: url(../images/ulstyle4.png) !important;
}

ul.style1 li, ul.style2 li, ul.style3 li, ul.style4 li {
	margin:8px 0 !important; 
	line-height:16px !important; 
	list-style-position:inside; 
	overflow:inherit; 
	background:none !important; 
}

ul.style1 li {
	padding-left: 18px;
	background: transparent url(../images/ulstyle1.png) no-repeat 0 50% !important;
}

.specialTitle {
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	margin:0 0 20px 0;
	color: #0D87BB;
	font-size: 24px;
	font-weight: 900;
	line-height: 24px;
	padding: 15px 0;
}

.specialTitle h1 {
	margin: 0;
}

/* Module content styles */

.domain_prices {
	line-height: 14px;
	font-size: 13px;
}

/* End of Module content styles */

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #ff0000;
	font-size: 11px;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #ff0000 !important;
	background-color: #ffeeee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #ff0000;
	border: 1px solid #ff0000;
	border-radius: 10px;
	background: transparent url(../images/warning.png) no-repeat 15px 50%;
	padding: 8px 0 8px 55px;
	margin-bottom: 15px;
}

.validation-summary-errors ul {
	padding-left: 25px;
	list-style:circle;
}

.validation-summary-valid {
	display: none;
}


fieldset {
	border: 1px solid #0D87BB;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 1.1em;
	margin: 0 0 1.5em 0;
}

legend {
	color: #0D87BB;
	font-size: 15px;
	font-weight: bold;
	padding: 0 10px;
}

.sml {
	 display: block;
	float: right;
	font-size: 10px;
	margin-left: 8px;
	margin-top: 8px;
	max-width: 280px;
	line-height: 14px;
}

/* Input placeholder text */
input::-webkit-input-placeholder {
	color: #b8b8b8;
	font-style: oblique;
}
input:-moz-placeholder {
	color: #b8b8b8;
	font-style: oblique;
}
input::-moz-placeholder {
	color: #b8b8b8;
	font-style: oblique;
}
input:-ms-input-placeholder {
	color: #b8b8b8;
	font-style: oblique;
}

/* JQuery submenu */

.menu li ul {
	/* position:absolute */
	position: relative;
	left: -2px;
	visibility: hidden;
	margin: 0;
	padding: 0;
	z-index: 1;
	background-color: #0774af;
	border-bottom: 1px solid #022d44;
}

.menu li ul li {
	/* display:inline; */
	float:none;
	margin: 0;
	padding: 0;
	border-top: 1px solid #022d44;
}

.menu li ul li a:link, .menu li ul li a:visited {
	width: auto;
}

.menu li ul li a:hover {
	background: transparent url(../images/menu_hover.png) repeat;	
}

/* End JQuery submenu */

.redtext {
	color: #E60000;
}

.greentext {
	color: #009200;
}

.blacktext {
	color: #000;
}

.graytext {
	color: gray;
}

.purpletext {
	color: #9420FF;
}

.cyantext {
	color: #00D6FF;
}

body.full-width #main_content {
	width: 100%;
}

body.full-width #colmask {
	background-image: none;
}

hr {
	border: 0;
	background-color: gray;
	height: 1px;
}

