 html,
body,
ul,
li,
div,
span,
section,
nav,
aside,
article,
header,
footer,
a,
img,
p,
input {
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  font-family: Consolas;
  background: url('../images/Snow-Leopard-Server-wallpaper.jpeg');
}
body a {
  text-decoration: none;
}
body ul {
  list-style-type: none;
}
body ul li a {
  display: inline-block;
}
body li > ul {
  display: none;
}
body #wrapper {
  width: 960px;
  margin: 0 auto;
}
body #wrapper #main-menu {
  background-color: rgba(10, 10, 10, 0.2);
}
body #wrapper #main-menu ul {
  height: 70px;
  position: relative;
}
body #wrapper #main-menu ul li:hover ul {
  display: inline-block;
  position: absolute;
  top: 35px;
  left: 0;
}
body #wrapper #main-menu ul li:hover ul li {
  display: inline-block;
}
body #wrapper #main-menu ul li a {
  border-color: #5400c0;
}
body #wrapper #main-menu ul li + li a {
  border-color: #0877d3;
}
body #wrapper #main-menu ul li + li + li a {
  border-color: #0b8b02;
}
body #wrapper #main-menu ul li + li + li + li a {
  border-color: #a9f318;
}
body #wrapper #main-menu ul li + li + li + li + li a {
  border-color: #fafe07;
}
body #wrapper #main-menu ul li + li + li + li + li + li a {
  border-color: #f77a02;
}
body #wrapper #main-menu ul ul li a {
  border-color: #5400c0;
}
body #wrapper #main-menu ul ul li + li a {
  border-color: #0877d3;
}
body #wrapper #main-menu ul ul li + li + li a {
  border-color: #0b8b02;
}
body #wrapper #main-menu ul ul li + li + li + li a {
  border-color: #a9f318;
}
body #wrapper #main-menu ul ul li + li + li + li + li a {
  border-color: #fafe07;
}
body #wrapper #main-menu ul ul li + li + li + li + li + li a {
  border-color: #f77a02;
}
body #wrapper #main-menu > ul li {
  display: inline-block;
}
body #wrapper #main-menu > ul li a:hover {
  border-width: 35px;
  color: black;
  height: 0px;
}
body #wrapper #main-menu > ul li a {
  width: 110px;
  height: 30px;
  padding: 0 20px;
  font-size: 1.6em;
  line-height: 35px;
  color: #ddd;
  border-bottom: 5px solid #5400c0;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
body #wrapper #slider {
  position: relative;
}
body #wrapper #slider #container {
  margin: 0 auto;
}
body #wrapper #slider #container .slide {
  position: relative;
}
body #wrapper #slider #container .slide .image {
  position: absolute;
}
body #wrapper #slider #container .slide .image img {
  width: 960px;
  height: 420px;
}
body #wrapper #slider #container .slide .text {
  position: absolute;
  top: 350px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
body #wrapper #slider #container .slide .text p {
  padding: 10px;
  color: white;
  font-size: 1.4em;
}
body #wrapper #slider #prev-slide,
body #wrapper #slider #next-slide {
  position: absolute;
  font-size: 30px;
  width: 50px;
  height: 50px;
}
body #wrapper #slider #prev-slide {
  top: 180px;
  left: -30px;
  background: url('../images/prev-next.png') 0px 0px no-repeat;
  background-size: 100px 100px;
}
body #wrapper #slider #prev-slide:hover {
  background: url('../images/prev-next.png') 0px -50px no-repeat;
  background-size: 100px 100px;
}
body #wrapper #slider #next-slide {
  top: 180px;
  right: -30px;
  background: url('../images/prev-next.png') -50px 0px no-repeat;
  background-size: 100px 100px;
}
body #wrapper #slider #next-slide:hover {
  background: url('../images/prev-next.png') -50px -50px no-repeat;
  background-size: 100px 100px;
}
