<?xml version="1.0"?>
<configuration>

  <location path="Users.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, Administrator, Moderator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Roles.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="EditCategories.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, Administrator, Moderator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <allow roles="Admin, Administrator, Moderator"/>
      <deny users="*"/>
    </authorization>
  </system.web>
  
</configuration>
